*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  
}
body{
  background-color: aquamarine;
}
.container{
  background-color: black;
  width: 100%;
  margin: 1em auto;
}
.grid{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  width:40;
  height:40;
  gap: 3rem;
  justify-content: center;
  color: white;
  
}